@if (isLoggedIn) {
  <nav class="border-gray-200 bg-transparent">
    <div
      class="mx-auto flex max-w-screen-xl flex-wrap items-center justify-between p-4"
    >
      <a
        routerLink="/to-watch"
        class="flex items-center space-x-3 rtl:space-x-reverse"
      >
        <span
          class="self-center whitespace-nowrap text-2xl font-semibold text-white"
          >Watch List</span
        >
      </a>
      <div
        class="flex items-center space-x-3 md:order-2 md:space-x-0 rtl:space-x-reverse"
      >
        <div class="group hidden md:block">
          <button
            (click)="logout()"
            type="button"
            class="flex items-center text-gray-200 group-hover:text-white md:p-0 md:hover:bg-transparent"
          >
            Logout
            <svg
              class="ms-1 h-5 w-5 text-gray-200 group-hover:text-white"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M16 12H4m12 0-4 4m4-4-4-4m3-4h2a3 3 0 0 1 3 3v10a3 3 0 0 1-3 3h-2"
              />
            </svg>
          </button>
        </div>
        <button
          data-collapse-toggle="navbar-user"
          type="button"
          class="inline-flex h-10 w-10 items-center justify-center rounded-lg p-2 text-sm text-white hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 md:hidden"
          aria-controls="navbar-user"
          aria-expanded="false"
        >
          <span class="sr-only">Open main menu</span>
          <svg
            class="h-5 w-5"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 17 14"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1"
              d="M1 1h15M1 7h15M1 13h15"
            />
          </svg>
        </button>
      </div>
      <div
        class="hidden w-full items-center justify-between md:order-1 md:flex md:w-auto"
        id="navbar-user"
      >
        <ul
          class="mt-4 flex flex-col p-4 font-medium md:mt-0 md:flex-row md:space-x-8 md:border-0 md:p-0 rtl:space-x-reverse"
        >
          <li>
            <a
              routerLink="/to-watch"
              routerLinkActive="active"
              class="relative block rounded px-3 py-2 text-gray-200 hover:text-white md:p-0 md:hover:bg-transparent"
              >To Watch</a
            >
          </li>
          <li>
            <a
              routerLink="/movies"
              routerLinkActive="active"
              class="relative block rounded px-3 py-2 text-gray-200 hover:text-white md:p-0 md:hover:bg-transparent"
              >Movies</a
            >
          </li>
          <li>
            <a
              routerLink="/tv-series"
              routerLinkActive="active"
              class="relative block rounded px-3 py-2 text-gray-200 hover:text-white md:p-0 md:hover:bg-transparent"
              >TV Series</a
            >
          </li>
          <li class="block md:hidden">
            <button
              (click)="logout()"
              type="button"
              class="flex items-center px-3 py-2 text-gray-200 group-hover:text-white md:p-0 md:hover:bg-transparent"
            >
              Logout
              <svg
                class="ms-1 h-5 w-5 text-gray-200 group-hover:text-white"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="none"
                viewBox="0 0 24 24"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M16 12H4m12 0-4 4m4-4-4-4m3-4h2a3 3 0 0 1 3 3v10a3 3 0 0 1-3 3h-2"
                />
              </svg>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
}

<app-toast></app-toast>

<router-outlet></router-outlet>

@if (isLoggedIn) {
  <footer class="mt-auto">
    <div
      class="mx-auto w-full max-w-screen-xl p-4 md:flex md:items-center md:justify-between"
    >
      <span class="text-sm text-white sm:text-center"
        >© 2024 Crafted with ❤️ by Mbints
      </span>
      <ul
        class="mt-3 flex flex-wrap items-center text-sm font-medium text-white sm:mt-0"
      >
        <li>
          <a
            href="https://github.com/gitmbints"
            target="_blank"
            class="me-4 hover:underline md:me-6"
            >Github</a
          >
        </li>
        <li>
          <a
            href="https://www.linkedin.com/in/ambinintsoa-harimanana-rakotonirina-a00b88191/"
            target="_blank"
            class="me-4 hover:underline md:me-6"
            >Linkedin</a
          >
        </li>
        <li>
          <a
            href="https://developer.themoviedb.org"
            target="_blank"
            class="me-4 hover:underline md:me-6"
            >TMDB™</a
          >
        </li>
      </ul>
    </div>
  </footer>
}
