<div class="-mt-32 flex flex-col items-center justify-center space-y-8">
  <h1 class="text-6xl font-bold text-white">404</h1>
  <p class="text-xl font-medium text-white">Hey, this page doesn't exist!</p>
  <a
    routerLink="/to-watch"
    class="focus:ring-white-300 inline-flex items-center rounded-lg border border-white bg-white px-3 py-2 text-center text-sm font-medium text-black hover:bg-transparent hover:text-white focus:outline-none focus:ring-4"
  >
    Return to Watch List
  </a>
</div>
