<div class="flex flex-col gap-10">
  <section>
    <h1 class="mb-8 text-2xl font-bold text-white md:text-4xl">
      Must watch movies
    </h1>
    <div
      class="relative grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4"
    >
      @for (movie of movies(); track movie.id) {
        <app-must-watch-item
          [movie]="movie"
          (onRemoveItem)="handleDelete($event)"
        ></app-must-watch-item>
      } @empty {
        <p
          class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 text-center text-xl font-semibold text-white"
        >
          No movie to watch
        </p>
      }
    </div>
  </section>
  <section>
    <h1 class="mb-8 text-2xl font-bold text-white md:text-4xl">
      Must watch Tv Series
    </h1>
    <div
      class="relative grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4"
    >
      @for (serie of tvSeries(); track serie.id) {
        <app-must-watch-item
          [tvSerie]="serie"
          (onRemoveItem)="handleDelete($event)"
        ></app-must-watch-item>
      } @empty {
        <p
          class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 text-center text-xl font-semibold text-white"
        >
          No Tv Serie to watch
        </p>
      }
    </div>
  </section>
</div>
